/*Debug Border*/

    .dbgRed_BrdrColr{
        border: 2px solid red;
    }

    .dbgBlue_BrdrColr{
        border: 2px solid blue;
    }

    .dbgGreen_BrdrColr{
        border: 2px solid green;
    }

    .dbgYellow_BrdrColr{
        border: 2px solid yellow;
    }

    .dbgPink_BrdrColr{
        border: 2px solid deeppink;
    }

    .dbgOrange_BrdrColr{
        border: 2px solid orange;
    }

    .dbgPurple_BrdrColr{
        border: 2px solid purple;
    }

    .dbgSilver_BrdrColr{
        border: 2px solid silver;
    }

    .dbgBlack_BrdrColr{
        border: 2px solid black;
    }

    .dbgWhite_BrdrColr{
        border: 2px solid white;
    }

/*====================================================================================================================*/
/*====================================================================================================================*/

/*Debug Background*/

    .dbgRed_BkgdColr{
        background: red;
    }

    .dbgBlue_BkgdColr{
        background: blue;
    }

    .dbgGreen_BkgdColr{
        background: green;
    }

    .dbgYellow_BkgdColr{
        background: yellow;
    }

    .dbgPink_BkgdColr{
        background: deeppink;
    }

    .dbgOrange_BkgdColr{
        background: orange;
    }

    .dbgPurple_BkgdColr{
        background: purple;
    }

    .dbgSilver_BkgdColr{
        background: silver;
    }

    .dbgBlack_BkgdColr{
        background: black;
    }

    .dbgWhite_BkgdColr{
        background: white;
    }