/* Display Layer */
/* Dimensions */
/* Text Styles */
/* Element Styles */
/* Animation */

/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

    html, body {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        margin: 0px 0px; !important;
        padding: 0px 0px; !important;

        /* Text Styles */
        color: #c6c4c5;
        font-weight: bolder;
        font-family: "Courier New", monospace;
        text-align: center;

        /* Element Styles */
        background-color: black;

        /* Animation */
    }

    .flx_1_1{
        flex: 1 1;
    }

    .flx_2_1{
        flex: 2 1;
    }

    .flx_4_1{
        flex: 4 1;
    }

    .flx_8_1{
        flex: 8 1;
    }

    .fulWidth_strch{

        width: 98.5vw;
    }

    .halfWidth_strch{

        width: 50vw;
    }

    .quartrWidth_strch{

        width: 30vw;
    }

    .fulHeight_strch{

        align-items: stretch;
    }

    @media (max-width: 568px) {

        .parallxFX_Pg {

            background-attachment: scroll;
        }
    }

    .algnTop {

        display: flex;
        align-self: flex-start;
    }

    .algnBtm {

        display: flex;
        align-self: flex-end;
    }

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

    .themeGrey_TxtColrA{
        color: #c6c4c5;
    }

    .themeGrey_TxtColrB{
        color: rgba(198, 196, 197, 0.76);
    }

    .themeGrey_TxtColrC{
        color: rgba(198, 196, 197, 0.51);
    }

    .logoDPink_TxtColr{
        color: #d60949;
    }

    .themePurple_TxtColrA{}

    .themeBlack_TxtColrA{
        color: #110a0c;
    }

    .themeBlack_TxtColrB{
        color: rgba(17, 10, 12, 0.9);
    }

    .themeBlack_TxtColrC{
        color: rgba(17, 10, 12, 0.75);
    }

    .themeGold_TxtColrA{
        color: #a36832;
    }

    .themeGold_TxtColrB{
        color: rgba(163, 104, 50, 0.8);
    }

    .themeGold_TxtColrC{
        color: rgba(163, 104, 50, 0.55);
    }

    .themeGrey_BkgdColrA{
        background-color: #c6c4c5;
    }

    .themeGrey_BkgdColrB{
        background-color: rgba(198, 196, 197, 0.55);
    }

    .themeGrey_BkgdColrC{
        background-color: rgba(198, 196, 197, 0.25);
    }

    .themeDPink_BkgdColrA{
        background-color: #d60949;
    }

    .themeDPink_BkgdColrB{
        background-color: rgba(214, 9, 73, 0.55);
    }

    .themeDPink_BkgdColrC{
        background-color: rgba(214, 9, 73, 0.26);
    }

    .themeBlack_BkgdColrA{
        background-color: black;
    }

    .themeBlack_BkgdColrB{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .themeBlack_BkgdColrC{
        background-color: rgba(0, 0, 0, 0.6);
    }

    .themeGold_BkgdColrA{
        background-color: #a36832;
    }

    .themeGold_BkgdColrB{
        background-color: rgba(163, 104, 50, 0.55);
    }

    .themeGold_BkgdColrC{
        background-color: rgba(163, 104, 50, 0.25);
    }

    .bkgdImage_a{
        background-image: url("../../../resources/images/backgrounds/banner.jpg");
    }

    .bkgdImage_b{
        background-image: url("../../../resources/images/backgrounds/banner2.jpg");
    }

    .bkgdImage_c{
        background-image: url("../../../resources/images/backgrounds/banner3.jpg");
    }

    .flexify{

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flexFlow_row{
        flex-flow: row;
    }

    .flexFlow_column{
        flex-flow: column;
    }

    .margin_5{

        margin: 5px;
    }

    .margin_10{
        margin: 10px;
    }

    .margin_20{
        margin: 20px;
    }

    .padding_5{
        padding: 5px;
    }

    .padding_10{
        padding: 10px;
    }

    .padding_20{
        padding: 20px;
    }

    .fontSize_Small{font-size: small;}
    .fontSize_Medium{font-size: medium;}
    .fontSize_Large{font-size: large;}
    .fontSize_Larger{font-size: larger;}

    .btn_SmallCircle{

        /* Display Layer */
        /* Dimensions */
        padding: 15px;
        margin: 20px;

        /* Text Styles */
        font-size: 11px;
        text-decoration: none;
        text-align: center;

        /* Element Styles */
        border: 2px solid rgba(198, 196, 197, 0.45);
        border-radius: 50%;
        cursor: pointer;

        /* Animation */
    }

    .btn_SmallCircle:hover{

        border: 2px solid transparent;
        background-color: rgba(198, 196, 197, 0.55);
    }

    .btn_MedCircle{

        /* Display Layer */
        /* Dimensions */
        padding: 20px;
        margin: 20px;

        /* Text Styles */
        font-size: 16px;
        text-decoration: none;
        text-align: center;

        /* Element Styles */
        border: 2px solid rgba(198, 196, 197, 0.45);
        border-radius: 50%;
        cursor: pointer;

        /* Animation */
    }

    .btn_MedCircle:hover{

        border: 2px solid transparent;
        background-color: rgba(198, 196, 197, 0.55);
    }

    .btn_LargeCircle{

        /* Display Layer */
        /* Dimensions */
        padding: 25px;
        margin: 20px;

        /* Text Styles */
        font-size: 20px;
        text-decoration: none;
        text-align: center;

        /* Element Styles */
        border: 2px solid rgba(198, 196, 197, 0.45);
        border-radius: 50%;
        cursor: pointer;

        /* Animation */
    }

    .btn_LargeCircle:hover{

        border: 2px solid transparent;
        background-color: rgba(198, 196, 197, 0.55);
    }


    .btn_Small{

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 13vw;
        height: 5vh;
        margin: 20px;

        /* Text Styles */
        text-transform: none;

        /* Element Styles */
        border-radius: 2px;
        cursor: pointer;
        border: none;

        /* Animation */
    }

    .btn_Small:hover{
        box-shadow: 5px 5px 15px black;
        background-color: #d60949;
    }

    .btn_Medium{

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 15vw;
        height: 7vh;
        margin: 20px;

        /* Text Styles */
        text-transform: none;

        /* Element Styles */
        border-radius: 2px;
        cursor: pointer;

        /* Animation */
    }

    .btn_Medium:hover{

        background-color: #d60949;
    }

    .btn_Large{

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 17vw;
        height: 9vh;
        margin: 20px;

        /* Text Styles */
        text-transform: none;

        /* Element Styles */
        border-radius: 2px;
        cursor: pointer;

        /* Animation */
    }

    .btn_Large:hover{box-shadow: 15px 15px 15px black;}


    .opacity_Low{opacity: .5;}

    .opacity_Middle{opacity: .75;}

    .opacity_High{opacity: .85}

    .containerNarrow{

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        height: 10vh;
        width: 50vw;
        margin: 20px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .containerWide{

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 98vw;
        height: 30vh;
        margin: 10px;
        padding: 5px;

        /* Text Styles */
        text-align: center;

        /* Element Styles */
        /* Animation */
    }
/*====================================================================================================================*/
