/*Debug Border*/

    .debugBorder_redClass{
        border: 2px solid red;
    }

    .debugBorder_blueClass{
        border: 2px solid blue;
    }

    .debugBorder_greenClass{
        border: 2px solid green;
    }

    .debugBorder_yellowClass{
        border: 2px solid yellow;
    }

    .debugBorder_pinkClass{
        border: 2px solid deeppink;
    }

    .debugBorder_orangeClass{
        border: 2px solid orange;
    }

    .debugBorder_purpleClass{
        border: 2px solid purple;
    }

    .debugBorder_silverClass{
        border: 2px solid silver;
    }

    .debugBorder_blackClass{
        border: 2px solid black;
    }

    .debugBorder_whiteClass{
        border: 2px solid white;
    }

/*====================================================================================================================*/
/*====================================================================================================================*/

/*Debug Background*/

    .debugBackground_redClass{
        background: red;
    }

    .debugBackground_blueClass{
        background: blue;
    }

    .debugBackground_greenClass{
        background: green;
    }

    .debugBackground_yellowClass{
        background: yellow;
    }

    .debugBackground_pinkClass{
        background: deeppink;
    }

    .debugBackground_orangeClass{
        background: orange;
    }

    .debugBackground_purpleClass{
        background: purple;
    }

    .debugBackground_silverClass{
        background: silver;
    }

    .debugBackground_blackClass{
        background: black;
    }

    .debugBackground_whiteClass{
        background: white;
    }