/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    .headerClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 99vw;
        min-height: 20vh;
        padding-top: 5px;
        padding-bottom: 10px;

        /* Text Styles */
        /* Element Styles */
        background-color: #d60949;
        /* Animation */
    }

    .headerImageClass {

        /* Display Layer */
        /* Dimensions */
        height: 20vh;
        width: 20vh;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }



    .sectionClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 8 1;

        /* Dimensions */
        width: 99vw;
        padding: 0px;
        margin: 0px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .panelDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex: 1;

        /* Dimensions */
        height: 77vh;
        padding: 0px;
        margin: 0px;

        /* Text Styles */
        color: #c8c6c7;
        font-weight: bolder;

        /* Element Styles */
        background-color: #110a0c;

        /* Animation */
    }

    .propicPanelDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        height: 100%;
        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .propicDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        height: 12vh;
        width: 10vw;
        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .propicDivClass:hover {

        background-color: rgba(214, 9, 73, 0.51);
    }

    .propicInfoPanelDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex: 4 1;

        /* Dimensions */
        height: 100%;
        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .panelPracticeDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;

        /* Dimensions */
        width: 100%;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .panelPracticeDivClass:hover {

        background-color: rgba(214, 9, 73, 0.51);
    }

    .panelLocationDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;

        /* Dimensions */
        width: 100%;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .panelLocationDivClass:hover {

        background-color: rgba(214, 9, 73, 0.51);
    }

    .panelTabDivClass:hover {

        background-color: rgba(214, 9, 73, 0.51);
    }

    .sectionDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex: 1 1;

        /* Dimensions */
        min-width: 70vw;
        height: 75vh;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .ratingSectionDivClass {

        /* Display Layer */
        display: flex;
        align-self: flex-end;

        /* Dimensions */
        padding-right: 5px;

        /* Text Styles */
        font-size: smaller;

        /* Element Styles */
        /* Animation */
    }
    .dashboardSectionDivClass {

        /* Display Layer */
        display: flex;

        /* Dimensions */
        /* Text Styles */
        font-weight: 950;
        font-size: 6vh;

        /* Element Styles */
        /* Animation */
    }

    .sectionMainDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex: 6 1;

        /* Dimensions */
        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .sectionMainRowOneDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;

        /* Dimensions */
        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .sectionMainRowTwoDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;

        /* Dimensions */
        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .profileInfoDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        flex: 5 1;

        /* Dimensions */
        height: 100%;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .mapSectionDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        /* Text Styles */
        /* Element Styles */
        background-color: #8d8b8c;

        /* Animation */
    }

    .tooltipSectionClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        padding-top: 4px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .footerClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 99vw;
        min-height: 20vh;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/
/*====================================================================================================================*/

